

body{
    background-image: linear-gradient(to top right,rgb(170, 178, 171) 100%, rgb(220, 90, 90) 0%);
}

table{
    margin: 50px 500px ;
    box-shadow:1rem 1rem 1rem ;
    box-sizing: border-box;
    float: left;
}

table,tr,td{
    border: 1px solid black;
    text-align: center;
    
}

button{
    padding: 20px 30px;
    background-color: rgb(227, 60, 60);
    color: aliceblue;
    font-size:larger;
    font-weight: 700;
}
input[type=tel]{
    width:90%;
    height: 2rem;
    font-size: large;
    border: none;
    border-radius: 10px;
    
}
#btnres{
    background-color: black;
}

